* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

section {
    padding: 80px 0;
}
/* toggle_nav */
.hamburger {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .hamburger-init {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    outline: none;
  }
  
  .menu {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .menu .bar1,
  .menu .bar2,
  .menu .bar3 {
    width: 90%;
    height: 3px;
    background: #e59205;
    transition: all .3s;
  }
  
  .hamburger-init:checked + .menu .bar1 {
    transform: translateY(15px) rotate(45deg);
  }
  
  .hamburger-init:checked + .menu .bar2 {
    opacity: 0;
  }
  
  .hamburger-init:checked + .menu .bar3 {
    transform: translateY(-15px) rotate(-45deg);
  }
/* toggle_nav */
.header {
    background: rgb(0, 0, 0, .5) url(../images/hero.png);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    padding: 0;
}

.bav_bg {

    background: rgb(0 0 0 / 50%);
}

.nav_logo {
    width: 90%;
    padding: 0 30px;
}

.header ul {
    align-items: end;
    padding: 30px 0;
}

.header ul li {
    padding: 0px 15px;
    font-weight: bold;
    font-family: 'Raleway';
}

.header ul li a {
    color: #fff;
    transition: .3s all ease-in-out;
}

.header ul li a:hover {
    color: #e59205
}

.hero_content {
    position: absolute;
    left: 50%;
    color: #fff;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.hero_content h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

.hero_content span {
    color: #e59205;
}

.hero_content button {
    background: transparent;
    border: 2px solid white;
    border-radius: 0;
    padding: 10px 20px;
    margin-top: 40px;
    transition: .2s all ease-in-out;
}

.hero_content button:hover {
    border: 2px solid #e59205;
}

.hero_content button:active {
    border: 2px solid #e59205 !important;
}

.hero_content button a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: .2s all ease-in-out;
}

.hero_content button:hover a {
    color: #e59205;
}

.hero_content p {
    color: #c7c7c7;
    margin: auto;
    max-width: 35%;
    line-height: 32px;
}

.navbar-toggler {
    border: 0;
    background: transparent;
}

/*food_item start*/

.a_h h1 {
    color: #6e7498;
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px;
    position: relative;
}

.a_h h1:after {
    position: absolute;
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    background: orange;
    left: 5%;
    top: 50%;
}

.a_h h1::before {
    position: absolute;
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    background: orange;
    right: 5%;
    top: 50%;
}


.a_h p {
    text-align: center;
    color: #a4a8bc;
    width: 50%;
    margin: auto;
}
.f_btn ul {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 0;
}

.f_btn ul li {
    list-style: none;
}

.f_btn ul li button {
    border: 1px solid #ddd;
    transition: .3s;
    border-radius: 0;
    text-align: center;
    padding: 12px 30px;
}
.f_btn ul li:nth-child(2) button {
    margin: 0 20px;
}
.f_btn ul li button:hover {
    background: #e59205;
    border: 1px solid #ddd;
}

.f_btn ul li button:active {
    background: #e59205 !important;
    border: 1px solid #ddd !important;
}

.f_btn ul li a {
    text-transform: uppercase;
    text-decoration: initial;
    color: #6e7498;
    font-weight: bold;
    font-size: 18px;
    transition: .3s;
}

.f_btn ul li:hover a {
    color: #fff;
}

.f_btn {
    width: 100%;
    margin: auto;
    text-align: center;
}

.food_list {
    display: flex;
    justify-content: space-between;
}

.food_list button {
    border: 1px solid #ddd;
    padding: 12px 15px;
    font-weight: bold;
    color: #6e7498;
    margin-top: 15px;
    transition: .3s;
    border-radius: 0;
}

.food_list button:hover {
    background: #e59205;
    color: #ffffffc5;
    border: 1px solid #ddd
}

.food_list button:active {
    background: #e59205 !important;
    border: 1px solid #ddd !important;
    color: #fff !important;
}

/*food_item end*/

/* breakfast start */
.b_bg {

    background: #e59205;
}

.breakfast {
    padding-top: 0;
}

.b_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: start;
}

.b_content h1 i {
    font-size: 50px;
    line-height: 4rem;
    color: #fff;
}

.bf_img img {
    width: 100%;
}

/* breakfast end */

/* desh item start */
.dish {
    padding-top: 0;
}

.food_list_wrapper img {
    width: 85px;
}

.food_list_wrapper h3 {
    color: #6e7498;
    font-size: 33px;
    margin: 15px 0;
}

.food_list_wrapper p {
    width: 85%;
    line-height: 30px;
    color: #a4a8bc;
    margin-bottom: 25px;
}

.btn_f_l {
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 12px 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #6e7498;
    transition: .2s all ease-in-out;
}

.btn_f_l:hover {
    background: #e59205;
    color: #fff;
}

.btn_f_l:active {
    background: #e59205 !important;
    color: #fff !important;
    border: 1px solid #e59205 !important;
}

/* desh item end */

/* subscribe start */
.subscribe {
    background-image: url(../images/subscribe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.subscribe h1 i {
    color: #fff;
    font-size: 55px;
}

.subscribe input {
    background: transparent;
    color: #fff;
    border-radius: 0;
    box-shadow: none !important;
    width: 40%;
    margin: auto;
}
.subscribe input::placeholder {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.subscribe input:focus {
    background: transparent;
    border: 1px solid #ddd;
    color: #fff;
    font-weight: bold;
}

.sub_control {
    margin: 40px 0;
}
.margin_bottom {
    margin-bottom: 2rem;
}
.margin_top {
    margin-top: 2rem;
}
/* subscribe end */

footer p {

    color: #a4a8bc;
    margin: 0;
}

footer ul {
    display: flex;
    justify-content: end;
    margin: 0;
}

footer ul li {
    list-style: none;
    margin-left: 30px;
}

footer ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #6e7498;
    font-weight: 600;
    position: relative;
    transition: .3s all ease-in-out;
}
footer ul li a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    background: #6e7498;
    height: 2px;
    width: 0%;
    transition: .3s all ease-in-out;
}
footer ul li a:hover{
    color: #6E7498;
}
footer ul li a:hover::before{
    width: 100%;
}